/* Filter*/
.bookings-filter-window{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
 
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4rem;
  
  
}

.filter-buttons-box{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filter-buttons-box button{
  background-color: #FFD300;
    
    border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .bookings-filter-window{
    margin-left: 9%;
  margin-right: 9%;
  
  }

  .filter-buttons-box button{
    font-size: 25px;
  }
}

/*Filter*/

/*NEWBOOKING*/
.newbooking-form-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
}

.newbooking-form {
  max-width: 500px;
}

.newbooking-header {
  text-align: center;
  padding-bottom: 1rem;
}


.select-container {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*BOOKINGS*/
.bookings-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;

  gap: 1rem;
}

/*BOOKING*/
.booking-container {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 325px;
  padding: 1.5rem;
  font-family:Arial, Helvetica, sans-serif;
}

.booking-container p {
  margin-bottom: .6rem;
}

.booking-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
  border-bottom: 1px solid darkgray;
  margin-bottom: .7rem;
  
}

.booking-price {
  font-weight:400;
}

/*ADMIN BOOKING*/
.select-cleaner-container {
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
}

.cleaner-name-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.select-cleaner {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.btn-remove-cleaner {
  border:none;
  outline: none;
  background: none;
}
.btn-add-cleaner {
  border:none;
  outline: none;
  background: none;
  padding: 0 .5rem;
}

.btn-rejected-info{
  border:none;
  outline: none;
  background: none;
}

.custom-select {
  border:none;
  outline: none;
  width: 100%;
}

.status-rejected-container {
}

/*CUSTOMER BOOKING*/
.approve-cleaning-container {
  width: 100%;
  display: flex;
  gap: .25rem;
}

.btn-approve {
  width: 100%;
}


