/*NEWBOOKING*/
.newbooking-form-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
}

.newbooking-form {
  max-width: 500px;
}

.newbooking-header {
  text-align: center;
}

.select-container {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*BOOKINGS*/
.bookings-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/*BOOKING*/
.booking-container {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 325px;
  padding: 1.5rem;
  font-family:Arial, Helvetica, sans-serif;
}

.booking-container p {
  margin-bottom: .6rem;
}

/*ADMIN BOOKING*/
.select-cleaner-container {
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
}

.cleaner-name-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.select-cleaner {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.btn-remove-cleaner {
  border:none;
  outline: none;
  background: none;
}
.btn-add-cleaner {
  border:none;
  outline: none;
  background: none;
  padding: 0 .5rem;
}

.custom-select {
  border:none;
  outline: none;
  width: 100%;
}

/*CUSTOMER BOOKING*/
.approve-cleaning-container {
  width: 100%;
  display: flex;
  gap: .25rem;
}

.btn-approve {
  width: 100%;
}


