.mainWindow{
    display: flex;
    align-items: center;
  justify-content: center;
 
  
}
.searchWindow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 7%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    
}
.test2{
    display: flex;
    flex-direction: row;
}
.billTotal{
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    left: 30%;
}
.billTotal button{
    background-color: #FFD300;
    
    border-radius: 5px;
   
}
.headerWindow{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.priceTotal{
    justify-content: flex-end;
}
.nameSearchInput{
    margin-top: 5%;
}
.nameListWindow{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
    min-height: 150px;
    max-height: 300px;
    overflow: hidden;
}
.nameListWindow button{
    background-color: #FFD300;
    border-radius: 5px;
   
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.bookingCard{
    display: flex;
    flex-direction: row;
    width: 220px;
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
}
.bookingCard button{
    position: relative;
    top: -20%;
    
    background-color: #FFD300;
    border-radius: 5px;
   
    margin-top: 30px
}
.cardInfo{
    
    width: 80%;
}
.cardInfo h2{
    font-size: 18px;
}
