.pageLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    
}

Header{
    background-color: gray;
    height: 12%;
}
.bookIcon{
    height: 100%;
    border-right: 1px solid black;
}
.nav{
    height: 7%;
    display: none;
    background-color: lightgray;
}
.navList{

    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    
    height: 100%;
    

}

button {
    background: none;
    border: none;
}
button:hover{
    border-radius: 20px;
    background-color: white;
}

main{
    flex: 1 1 auto;
}
Footer{
    height: 15%;
    background-color: gray;
}


@media only screen and (max-width: 736px) {
    
        .nav{
            height: 5%;

        }


       
    
}
@media only screen and (max-width: 400px) {
    .bookIcon{
        width: 10%;

        border: none;
    }
}