.form-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;    
    
  }

.register-form {
  width: 500px;
  font-weight: bold;
  border: 5px solid gray;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  
}
.back_button{
  background-color: #FFD300;
  border-radius: 5px;
  margin-right: auto;
}